<h3>Trainer</h3>
<p>Name: <%= @trainer.name if @trainer.name %></p>
<p>Email: <%= @trainer.email if @trainer.email %></p>
<h5>Pokemon: </br> </h5>
<p>
<% @pokemons = @trainer.pokemons %>
<% @pokemons.each do |pokemon| %>
    <%= pokemon.name%> , lvl: <%= pokemon.level %>, hp: <%= pokemon.health %>
    <%= button_to "Damage!", damage_path(id: pokemon.ndex, trainer: @trainer.id), :class => "button medium", :method => :patch %>
    </br>
<% end %>
<p>
<%= button_to "New Pokemon", '/pokemons/new', :class => "button medium", :method => :get %>